$white: #fff;
$hover: #9bf1ff;

$main: #242943;
$secondary: #2a2f4a;

$navBk: rgba(30, 41, 67, 0.9);
$navLine: rgba(212, 212, 255, 0.1);

$bloc1: #6fc3df;
$bloc2: #8d82c4;
$bloc3: #ec8d81;
$bloc4: #e7b788;
$bloc5: #8ea9e8;
$bloc6: #87c5a4;

$blocs : $bloc1, $bloc2, $bloc3, $bloc4, $bloc5, $bloc6;

$footerCnt: rgba(244, 244, 255, 0.2);

$space :20px;
